{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-secondary rounded-3">
        <h2>Nisha Gawai(Leader)</h2>
        <h4>She helped in building the layout of the "Just Arrived" page and was also incharge of obtaining all the relevant links , images and writing the corresponding codes to develop this page.</h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Suraj Gajul</h2>
        <h4>He helped in building the layout , obtaining all the links , images and the codes to develop the "Home" page and was also responsible for assembling all the pages to create the subsequent website.</h4>
      </div>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-secondary rounded-3">
        <h2>Pradnya Kshirsagar</h2>
        <h4>She helped in building the layout of the "Anime" page and was also incharge of obtaining all the relevant links , images and writing the corresponding codes to develop this page.</h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Pratik Kumare</h2>
        <h4>He helped in building the layout of the "Bollywood" page and was also incharge of obtaining all the relevant links , images and writing the corresponding codes to develop this page.</h4>
      </div>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-secondary rounded-3">
        <h2>Pranjali Vaidya</h2>
        <h4>She helped in building the layout of the "Hollywood" page and was also incharge of obtaining all the relevant links , images and writing the corresponding codes to develop this page.</h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Suyash Dhige</h2>
        <h4>He helped in building the layout of the "About Us" page and was also incharge of obtaining all the relevant links , images and writing the corresponding codes to develop this page.</h4>
      </div>
    </div>
  </div>
{% endblock body %}
