{% extends 'base.html' %}

{% block title %}Just Arrived{% endblock title %}

{% block body %}
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button">Series</button>
  </div>
  <div class="card-group">
    <div class="card">
      <img
        src="https://static.toiimg.com/photo/83206190.cms"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>The Family Man Season 2<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">Srikant Tiwari has started a new life as an IT employee, but he can’t stay away from
          adventure when JK is sent to Chennai to nab a former foreign insurgent.</p>
        <a href="https://en.wikipedia.org/wiki/The_Family_Man_(Indian_TV_series)" class="btn btn-primary">Read more about Season
          2</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 20 days ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://images.indianexpress.com/2021/05/Lucifer-5B-poster-1200.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Lucifer Season 5 Part 2<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">Chloe and Ella investigate a mini-golf murder. Lucifer, Michael, Amenadiel and Linda
          prepare for the holiest of family dinners.Maze is also in search of a soul.</p>
        <a href="https://en.wikipedia.org/wiki/Lucifer_(TV_series)" class="btn btn-primary">Read more about Season 5</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 22 days ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://images.indianexpress.com/2021/05/loki-1200.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>LOKI Season 1<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">After the blunder caused by tony which led to loki getting the space stone,he arrives at a
          stranded desert.Come aboard on this wonderful journey of loki the god of MISCHIEF.</p>
        <a href="https://en.wikipedia.org/wiki/Loki_(TV_series)" class="btn btn-primary">Read more about Season 1</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 day ago</small>
      </div>
    </div>
    <div class="card-group">
    <div class="card">
      <img src="https://english.cdn.zeenews.com/sites/default/files/2021/05/25/938590-money-heist.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Money Heist Season 5<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">Eight thieves take hostages and lock themselves in the Royal Mint of Spain as a criminal
          mastermind manipulates the police to carry out his plan.</p>
        <a href="https://en.wikipedia.org/wiki/Money_Heist" class="btn btn-primary">Read more
          about Season 5</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 20 days ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://i2.wp.com/foxexclusive.com/wp-content/uploads/2020/11/maxresdefault-e1604227537882.jpg?fit=640%2C360&ssl=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Utopia Season 1<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">A group of young adults, who meet online, get a hold of a cult underground graphic novel,
          but also burdens them with the
          dangerous task of saving the world.</p>
        <a href="https://en.wikipedia.org/wiki/Utopia_(2020_TV_series)" class="btn btn-primary">Read more about Season
          1</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 22 days ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.ladbible.com/cdn-cgi/image/width=720,quality=70,format=jpeg,fit=pad,dpr=1/https%3A%2F%2Fs3-images.ladbible.com%2Fs3%2Fcontent%2F45d31d9860a35a090ccc838a3f280c33.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Rick And Morty Season 5<span class="badge bg-success">New Series</span></h5>
        </h5>
        <p class="card-text">Morty falls in love with an ecological heroine named Planetina. Rick and Summer visit planets that are about to stop existing to have crazy parties and forget their problems.</p>
        <a href="https://en.wikipedia.org/wiki/Rick_and_Morty_(season_5)" class="btn btn-primary">Read more about Season 5</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 day ago</small>
      </div>
    </div>
  </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-info" type="button">Movies</button>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://cdn.mos.cms.futurecdn.net/qkQfNyo5jZBtnrjWh5LsqL.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Army Of The Dead<span class="badge bg-info">New Movie</span></h5>
        </h5>
        <p class="card-text">Following a zombie outbreak in Las Vegas, a group of mercenaries take the ultimate gamble,
          venturing into the quarantine zone to pull off the greatest heist ever attempted</p>
        <a href="https://en.wikipedia.org/wiki/Army_of_the_Dead" class="btn btn-primary">Read more about the movie</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 month ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://assets.hardwarezone.com/img/2021/05/Wrath_of_Man_cover.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Wrath Of Man<span class="badge bg-info">New Movie</span></h5>
        </h5>
        <p class="card-text">The plot follows H, a cold and mysterious character working at a cash truck company
          responsible for moving hundreds of millions of dollars around Los Angeles each week.</p>
        <a href="https://en.wikipedia.org/wiki/Wrath_of_Man" class="btn btn-primary">Read more about the movie</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 24 days ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://cdn.zeebiz.com/sites/default/files/2021/03/24/145994-godzillavskong.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Godzilla VS. Kong<span class="badge bg-info">New Movie</span></h5>
        </h5>
        <p class="card-text">Cinematic Monsterverse pits two of the greatest icons in motion picture history against one
          another,the fearsome Godzilla and the mighty Kong,with humanity caught in the balance.</p>
        <a href="https://en.wikipedia.org/wiki/Godzilla_vs._Kong" class="btn btn-primary">Read more about the movie</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 2 months ago</small>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="https://thedirect.s3.amazonaws.com/media/article_full/bw.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>Black Widow<span class="badge bg-info">New Movie</span></h5>
          </h5>
          <p class="card-text">
            Pursued by a force that will stop at nothing to bring her down, Natasha must deal with her history as a spy
            and the broken relationships with her foster parents and her little sister, left in her wake long before she became an Avenger.</p>
          <a href="https://en.wikipedia.org/wiki/Black_Widow_(2021_film)" class="btn btn-primary">Read more about the
            movie</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 1 month ago</small>
        </div>
      </div>
      <div class="card">
        <img
          src="https://images.thequint.com/thequint/2021-07/48d887b7-0e73-44fa-bf49-f8be279a6936/The_Tomorrow_War_banner_image.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>The Tomorrow War<span class="badge bg-info">New Movie</span></h5>
          </h5>
          <p class="card-text">
            Time travelers arrive from 2051 to deliver an urgent message: 30 years in the future mankind is losing a war
            against a deadly alien species.Dan Forester teams up with
            a brilliant scientist and his estranged father to rewrite the planet’s fate.</p>
          <a href="https://en.wikipedia.org/wiki/The_Tomorrow_War" class="btn btn-primary">Read more about the movie</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 24 days ago</small>
        </div>
      </div>
      <div class="card">
        <img src="https://ntvb.tmsimg.com/assets/p15923621_v_h8_af.jpg?w=1280&h=720" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>A Quite Place Part 2<span class="badge bg-info">New Movie</span></h5>
          </h5>
          <p class="card-text">The plot revolves around a father (Krasinski) and a mother (Emily Blunt) who struggle to
            survive and raise their children (Millicent Simmonds and Noah Jupe) in a post-apocalyptic world inhabited by
            blind monsters with an acute sense of hearing.</p>
          <a href="https://en.wikipedia.org/wiki/A_Quiet_Place" class="btn btn-primary">Read more about the movie</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 2 months ago</small>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark" type="button">Anime</button>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2021/03/pasted_image_0-720x405.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>My Hero Academia Season 5<span class="badge bg-dark">New Anime</span></h5>
          <p class="card-text">Dabi attacks Endeavor and Hawks only to retreat upon the arrival of Mirko.They criticize
            each other for having changed the plan and that it’ll be some time before the latter can meet Shigaraki.</p>
          <a href="https://en.wikipedia.org/wiki/My_Hero_Academia_(season_5)" class="btn btn-primary">Read more about
            Season 5</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 day ago</small>
      </div>
    </div>
    <div class="card">
      <img
        src="https://www.denofgeek.com/wp-content/uploads/2021/04/jujutsu-kaisen-season-2-movie-prequel-details.jpeg?fit=1920%2C1080"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Jujutsu Kiasen Season 1<span class="badge bg-dark">New Anime</span></h5>
          <p class="card-text">A boy swallows a cursed talisman - the finger of a demon - and becomes cursed himself. He
            enters a shaman's school to be able to locate the demon's other body parts and thus exorcise himself.</p>
          <a href="https://en.wikipedia.org/wiki/Jujutsu_Kaisen" class="btn btn-primary">Read more about Season 1</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 2 months ago</small>
      </div>
    </div>
    <div class="card">
      <img
        src="https://magazine99.com/wp-content/uploads/2020/10/Haikyuu-Season-4-Part-2-Release-Date-Cast-Plot-And.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <h5>Haikyuu Season 4<span class="badge bg-dark">New Anime</span></h5>
          <p class="card-text">Hinata begins to feel left behind as Kageyama and Tsukishima are each invited to training
            camps and he isn't.A long awaited character is about to enter the series and make this a fun ride</p>
          <a href="https://en.wikipedia.org/wiki/Haikyu!!_(season_4)" class="btn btn-primary">Read more about Season
            4</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 months ago</small>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="https://wallpapercave.com/wp/wp8126539.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>One Piece Season 20<span class="badge bg-dark">New Anime</span></h5>
            <p class="card-text">Enter Monkey D. Luffy, a 17-year-old boy who defies your standard definition of a
              pirate.Luffy's reason for being a pirate is one of pure wonder: the thought of an exciting adventure that
              leads him to intriguing people and ultimately, the promised treasure.
            </p>
            <a href="https://en.wikipedia.org/wiki/One_Piece_(season_20)" class="btn btn-primary">Read more about
              Season 20</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 1 day ago</small>
        </div>
      </div>
      <div class="card">
        <img src="https://wallpapercave.com/wp/wp9016814.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>Tokyo Revengers Season 1<span class="badge bg-dark">New Anime</span></h5>
            <p class="card-text">Takemichi Hanagaki’s second year of middle school was the highest point in his life.
            A sudden news report on the Tokyo Manji Gang’s cruel murder of the only girlfriend he ever
            had alongside her brother only adds insult to injury.</p>
            <a href="https://en.wikipedia.org/wiki/Tokyo_Revengers" class="btn btn-primary">Read more about Season 1</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 2 months ago</small>
        </div>
      </div>
      <div class="card">
        <img src="https://i0.wp.com/foto.kontan.co.id/vvtI67EPTPQONdNjytA4bj6ZOQE=/smart/2021/01/29/718732105p.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <h5>Attack on Titan Season 4<span class="badge bg-dark">New Anime</span></h5>
            <p class="card-text">Gabii Braun and Falco Grice have been training their entire lives to inherit one of the
              seven titans under Marley's control and aid their nation in eradicating the Eldians on Paradis.With the
              truth now in their hands, the group set out for the world beyond the walls.</p>
            <a href="https://en.wikipedia.org/wiki/Attack_on_Titan_(season_4)" class="btn btn-primary">Read more about
              Season
              4</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 months ago</small>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}